.space-between {
  display: flex;
  justify-content: space-between;
}

.VuePagination__pagination-item-prev-chunk, .VuePagination__pagination-item-next-chunk {
  display: none;
}

.pagination {
  justify-content: center;

  .page-link {
    border: 0;
    color: black;
  }
}

.page-item {
  cursor: pointer;
}
