.space-between {
  display: flex;
  justify-content: space-between;
}

.VuePagination__pagination-item-prev-chunk, .VuePagination__pagination-item-next-chunk {
  display: none;
}

.pagination {
  justify-content: center;

  .page-link {
    border: 0;
    color: black;
  }
}

.page-item {
  cursor: pointer;
}

.modal-dialog {
  margin: 0;
  height: 100%;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

.ml-3 {
  margin-left: 1rem !important;
}

.flex-vertical-center {
  display: flex;
  align-items: center;
}
